@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using WebApplication1.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var photo = Umbraco.TypedMedia(1165);
    
    var image = Umbraco.TypedMedia(1169);

    var image1 = Umbraco.TypedMedia(1160);
    var image2 = Umbraco.TypedMedia(1159);
    var image3 = Umbraco.TypedMedia(1165);
}
@{
/*<div class="content">

        if (User.Identity.IsAuthenticated)
        {
            <p>Welcome @User.Identity.Name</p>
            <a href="@Url.Action("Logout", "Login")">Logout</a>
        }
        else
        {
            <p>You are not logged in!</p>
        }

        Html.RenderPartial("~/Views/Partials/LoginPartial.cshtml", new Umbraco.Web.Models.LoginModel());

        if (User.Identity.IsAuthenticated)
        {
            <div style="background-color:brown">
                <p>Your tasks:</p>
                <p>Task 1</p>
            </div>
        }



    </div>
    <div class="first" style="height:1000px;">FIRST</div>

    <div class="second" style="height:1000px;">SECOND</div>

    <div class="third" style="height:1000px;">THIRD</div>*/
}


@if (Umbraco.MemberIsLoggedOn())
{
    
        <div class="bg"></div>
        @Html.Partial("MenuTopPartial")
        <div class="container main">
            <div class="row">
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at neque sed ante hendrerit sagittis non ut est. Sed bibendum nisi id fringilla imperdiet. Sed scelerisque sollicitudin tortor. Quisque posuere urna odio, sit amet finibus massa condimentum tempus. Sed sit amet congue orci. Aenean quis turpis risus. Praesent arcu massa, fringilla at leo sed, feugiat accumsan sapien. Duis quis auctor diam. Praesent feugiat sit amet libero quis varius. Etiam vestibulum nec leo at consequat. Aenean volutpat sagittis eros nec convallis. Nulla ipsum lorem, suscipit tincidunt fermentum a, convallis sit amet quam. Nam eleifend vitae risus non luctus. Nullam turpis quam, tristique quis enim at, mattis facilisis nunc.

Pellentesque laoreet, ipsum quis eleifend luctus, justo nisi elementum sapien, sed maximus arcu arcu ut quam. Ut ultricies dignissim interdum. Fusce in iaculis eros. Nam commodo dolor ligula, at laoreet metus pretium vel. Sed at maximus tellus, eget pharetra mi. Aenean viverra, neque ac hendrerit tincidunt, massa nibh dignissim ex, id maximus augue tortor sed est. Aliquam aliquam ut velit et eleifend. Maecenas in turpis id lorem porta tristique. Suspendisse pretium orci vel elit varius, quis hendrerit tellus dapibus.

Mauris non augue blandit, feugiat lorem eget, placerat ex. Vivamus a velit at enim bibendum finibus nec at tortor. Integer quis ex imperdiet, convallis nulla vel, gravida nunc. Donec lorem risus, iaculis aliquet finibus non, imperdiet ut tortor. Integer nisi odio, dignissim at venenatis accumsan, rhoncus vitae orci. Sed nec nunc rhoncus, luctus elit iaculis, consequat erat. Suspendisse potenti. Vestibulum ultrices, metus eu hendrerit luctus, libero magna laoreet ipsum, in interdum dolor urna at ipsum.

Sed egestas interdum tempor. Vivamus hendrerit, ipsum sed pretium iaculis, elit tellus pretium nulla, eget bibendum metus enim at libero. Donec risus ipsum, laoreet quis urna non, sollicitudin sollicitudin sapien. Aenean suscipit tellus et lobortis elementum. Sed viverra risus id ligula mattis, non viverra tortor interdum. Nullam porttitor odio a justo maximus tempor. In hac habitasse platea dictumst.

Integer elementum gravida varius. Sed laoreet erat varius felis semper iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas nunc nisl, condimentum ut turpis eget, semper cursus metus. Praesent ante elit, faucibus in nunc fringilla, iaculis vehicula ipsum. Proin sodales pellentesque viverra. Aenean tincidunt ut tortor efficitur facilisis. Praesent nec sapien at odio dignissim interdum. Morbi facilisis nisl non libero aliquet rutrum. Vivamus pulvinar neque volutpat est pellentesque viverra. Morbi malesuada enim sit amet tortor vulputate semper. Phasellus finibus tellus libero, at molestie quam eleifend nec. In dictum odio eu tellus vestibulum tincidunt. Nam dignissim scelerisque nibh, quis vestibulum sapien accumsan sollicitudin.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at neque sed ante hendrerit sagittis non ut est. Sed bibendum nisi id fringilla imperdiet. Sed scelerisque sollicitudin tortor. Quisque posuere urna odio, sit amet finibus massa condimentum tempus. Sed sit amet congue orci. Aenean quis turpis risus. Praesent arcu massa, fringilla at leo sed, feugiat accumsan sapien. Duis quis auctor diam. Praesent feugiat sit amet libero quis varius. Etiam vestibulum nec leo at consequat. Aenean volutpat sagittis eros nec convallis. Nulla ipsum lorem, suscipit tincidunt fermentum a, convallis sit amet quam. Nam eleifend vitae risus non luctus. Nullam turpis quam, tristique quis enim at, mattis facilisis nunc.

                        Pellentesque laoreet, ipsum quis eleifend luctus, justo nisi elementum sapien, sed maximus arcu arcu ut quam. Ut ultricies dignissim interdum. Fusce in iaculis eros. Nam commodo dolor ligula, at laoreet metus pretium vel. Sed at maximus tellus, eget pharetra mi. Aenean viverra, neque ac hendrerit tincidunt, massa nibh dignissim ex, id maximus augue tortor sed est. Aliquam aliquam ut velit et eleifend. Maecenas in turpis id lorem porta tristique. Suspendisse pretium orci vel elit varius, quis hendrerit tellus dapibus.

                        Mauris non augue blandit, feugiat lorem eget, placerat ex. Vivamus a velit at enim bibendum finibus nec at tortor. Integer quis ex imperdiet, convallis nulla vel, gravida nunc. Donec lorem risus, iaculis aliquet finibus non, imperdiet ut tortor. Integer nisi odio, dignissim at venenatis accumsan, rhoncus vitae orci. Sed nec nunc rhoncus, luctus elit iaculis, consequat erat. Suspendisse potenti. Vestibulum ultrices, metus eu hendrerit luctus, libero magna laoreet ipsum, in interdum dolor urna at ipsum.

                        Sed egestas interdum tempor. Vivamus hendrerit, ipsum sed pretium iaculis, elit tellus pretium nulla, eget bibendum metus enim at libero. Donec risus ipsum, laoreet quis urna non, sollicitudin sollicitudin sapien. Aenean suscipit tellus et lobortis elementum. Sed viverra risus id ligula mattis, non viverra tortor interdum. Nullam porttitor odio a justo maximus tempor. In hac habitasse platea dictumst.

                        Integer elementum gravida varius. Sed laoreet erat varius felis semper iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas nunc nisl, condimentum ut turpis eget, semper cursus metus. Praesent ante elit, faucibus in nunc fringilla, iaculis vehicula ipsum. Proin sodales pellentesque viverra. Aenean tincidunt ut tortor efficitur facilisis. Praesent nec sapien at odio dignissim interdum. Morbi facilisis nisl non libero aliquet rutrum. Vivamus pulvinar neque volutpat est pellentesque viverra. Morbi malesuada enim sit amet tortor vulputate semper. Phasellus finibus tellus libero, at molestie quam eleifend nec. In dictum odio eu tellus vestibulum tincidunt. Nam dignissim scelerisque nibh, quis vestibulum sapien accumsan sollicitudin.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at neque sed ante hendrerit sagittis non ut est. Sed bibendum nisi id fringilla imperdiet. Sed scelerisque sollicitudin tortor. Quisque posuere urna odio, sit amet finibus massa condimentum tempus. Sed sit amet congue orci. Aenean quis turpis risus. Praesent arcu massa, fringilla at leo sed, feugiat accumsan sapien. Duis quis auctor diam. Praesent feugiat sit amet libero quis varius. Etiam vestibulum nec leo at consequat. Aenean volutpat sagittis eros nec convallis. Nulla ipsum lorem, suscipit tincidunt fermentum a, convallis sit amet quam. Nam eleifend vitae risus non luctus. Nullam turpis quam, tristique quis enim at, mattis facilisis nunc.

                        Pellentesque laoreet, ipsum quis eleifend luctus, justo nisi elementum sapien, sed maximus arcu arcu ut quam. Ut ultricies dignissim interdum. Fusce in iaculis eros. Nam commodo dolor ligula, at laoreet metus pretium vel. Sed at maximus tellus, eget pharetra mi. Aenean viverra, neque ac hendrerit tincidunt, massa nibh dignissim ex, id maximus augue tortor sed est. Aliquam aliquam ut velit et eleifend. Maecenas in turpis id lorem porta tristique. Suspendisse pretium orci vel elit varius, quis hendrerit tellus dapibus.

                        Mauris non augue blandit, feugiat lorem eget, placerat ex. Vivamus a velit at enim bibendum finibus nec at tortor. Integer quis ex imperdiet, convallis nulla vel, gravida nunc. Donec lorem risus, iaculis aliquet finibus non, imperdiet ut tortor. Integer nisi odio, dignissim at venenatis accumsan, rhoncus vitae orci. Sed nec nunc rhoncus, luctus elit iaculis, consequat erat. Suspendisse potenti. Vestibulum ultrices, metus eu hendrerit luctus, libero magna laoreet ipsum, in interdum dolor urna at ipsum.

                        Sed egestas interdum tempor. Vivamus hendrerit, ipsum sed pretium iaculis, elit tellus pretium nulla, eget bibendum metus enim at libero. Donec risus ipsum, laoreet quis urna non, sollicitudin sollicitudin sapien. Aenean suscipit tellus et lobortis elementum. Sed viverra risus id ligula mattis, non viverra tortor interdum. Nullam porttitor odio a justo maximus tempor. In hac habitasse platea dictumst.

                        Integer elementum gravida varius. Sed laoreet erat varius felis semper iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas nunc nisl, condimentum ut turpis eget, semper cursus metus. Praesent ante elit, faucibus in nunc fringilla, iaculis vehicula ipsum. Proin sodales pellentesque viverra. Aenean tincidunt ut tortor efficitur facilisis. Praesent nec sapien at odio dignissim interdum. Morbi facilisis nisl non libero aliquet rutrum. Vivamus pulvinar neque volutpat est pellentesque viverra. Morbi malesuada enim sit amet tortor vulputate semper. Phasellus finibus tellus libero, at molestie quam eleifend nec. In dictum odio eu tellus vestibulum tincidunt. Nam dignissim scelerisque nibh, quis vestibulum sapien accumsan sollicitudin.</p>
                    <a href="@Url.Action("Logout", "Login")">Logout</a>
                </div>
            </div>
        </div>
    
}
else
{
    <section id="home">

        <div class="container-fluid" style="background-image: url(@image.Url); height: 100vh">
            <div class="bg"></div>

            @Html.Partial("MenuTopPartial")


            <div class="container main">
                <div class="row center-parent">
                    <div class="col-md-12 center-child">
                        <h1>Don't let your dreams be dreams</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="first">
        <div class="container-fluid" style="background-color: palegoldenrod">
            <div class="container">
                <div class="row" style="background-color: fuchsia">
                    <div class="col-md-6">
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="@photo.Url" style="max-width:250px" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="second">
        <div class="container-fluid">
            <div class="container">
                <div class="row" style="background-color: yellowgreen">
                    <div class="col-md-6">
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="@photo.Url" style="max-width:250px" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="third">
        <div class="container-fluid">
            <div class="container">
                <div class="row" style="background-color: maroon">
                    <div class="col-md-6">
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                            Where does it come from?
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="@photo.Url" style="max-width:250px" />
                    </div>
                </div>
            </div>
        </div>
    </section>
                            }


</body>


<script>
    $(".goHome").click(function () {
        $('html,body').animate({
            scrollTop: $("body").offset().top - 60
        },
            'slow');
        $('#TopMenu').collapse('hide');
        $('#ScrollMenu').collapse('hide');
    })

    $(".goToFirst").click(function () {
        $('html,body').animate({
            scrollTop: $("#first").offset().top - 60
        },
            'slow');
        $('#TopMenu').collapse('hide');
        $('#ScrollMenu').collapse('hide');
    })

    $(".goToSecond").click(function () {
        $('html,body').animate({
            scrollTop: $("#second").offset().top - 60
        },
            'slow');
        $('#TopMenu').collapse('hide');
        $('#ScrollMenu').collapse('hide');
    })

    $(".goToThird").click(function () {
        $('html,body').animate({
            scrollTop: $("#third").offset().top - 60
        },
            900);
        $('#TopMenu').collapse('hide');
        $('#ScrollMenu').collapse('hide');
    })

</script>